.bookings__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 40rem;
  max-width: 90%;
}

.bookings__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ED5565;
  color: #ED5565;
  display: flex;
  justify-content: space-between;
  align-items: center;
}